<strong>Uma entrega para você</strong>

<p> Foi cadastrada uma entrega para você, segue as informações: </p>

<p>Produto: {{product}}</p>
<p>Endereço: {{street}}, nº: {{number}}, {{zip_code}}, {{city}}-{{state}}</p>


<p>O produto já está pronto para entrega, pode comparecer na distribuidora</p>

<strong>Somos FastFeed</strong>
